#form-container{
    background-color: pink;
    border: 2px solid brown;
    text-align: left;
    margin: 10px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 400px;
}
h1{
    color: crimson;
    font-family: Forte"Mongolian Baiti";
    text-align: center;
}
.form-group{
    color: brown;
    margin-bottom: 16px;
}
body{
    font-family: Forte;
    background-color: lemonchiffon;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 170vh;
}
label{
    display: block;
    font-weight: bold;
    margin: 8px;
}
input[ type="name"]
input[ type="email"]
input[ type="password"]
input[ type="text"]

textarea,select{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 4px;
}
textarea{
    height: 10px;
}
input[ type="radio"],input[ type="checkbox"]{
    margin: 5px;
}
button{
    padding: 5px;
    color: aquamarine;
    text-decoration-color: #9f4a22;
}